{{ define "main" }}
<section id="about">
  {{ if isset .Site.Params "description" }}
  {{ .Site.Params.description }}
  {{ end }}
  {{ if isset .Site.Params "social" }}
  <p>Find me on
    {{ $length := (len .Site.Params.social) }}
    {{ range $index, $elem := .Site.Params.social}}
    {{ if eq $elem.name "email" }}
    <a class="icon" target="_blank" rel="noopener" href="mailto:{{ $elem.link }}">
      <i class="fas fa-envelope"></i>
    </a>
    {{ else if eq $elem.name "rss" }}
    <a class="icon" target="_blank" rel="noopener" href="{{ $elem.link }}">
      <i class="fas fa-rss"></i>
    </a>
    {{ else if eq $elem.name "scholar" }}
    <a class="icon" target="_blank" rel="noopener" href="{{ $elem.link }}">
      <i class="fas fa-graduation-cap"></i>
    </a>
    {{ else }}
    <a class="icon" target="_blank" rel="noopener" href="{{ $elem.link }}">
      <i class="fab fa-{{ lower $elem.name }}"></i>
    </a>
    {{ end }}
    {{ if (lt (add $index 2) $length) }}
    {{- print " , " -}}
    {{ else if (lt (add $index 1) $length) }}
    {{- print " and " -}}
    {{ else }}
    {{- print "." -}}
    {{ end }}
    {{ end }}
  </p>
  {{ end }}
</section>

{{ $showProjectsList := false }}
{{ if .Site.Data.projects }}
{{ $showProjectsList = true }}
{{ else if (isset .Site.Params "showProjectsList") }}
{{ $showProjectsList = .Site.Params.ShowProjectsList }}
{{ end }}
{{ if $showProjectsList }}
{{ $projectsUrl := "#" }}
{{ if isset .Site.Params "projectsUrl" }}
{{ $projectsUrl = .Site.Params.projectsUrl }}
{{ end }}
<section id="projects">
  <span class="h1"><a href="{{ $projectsUrl }}">Projects</a></span>
  <ul class="project-list">
    {{ range .Site.Data.projects.list }}
    <li class="project-item">
      <a href="{{ .url }}" target="_blank">{{ .name }}</a>: {{ .desc | markdownify }}
    </li>
    {{ end }}
  </ul>
</section>
{{ end }}
{{ end }}